.app_blue_theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #d9d9d9;

    --primary-color: #d9d9d9;
    --secondary-color: #c1c1c1;
    --inverted-primary-color: #5e69ee;
    --inverted-secondary-color: #525ccf;

    // skeleton
    --skeleton-color: #525dd3;
    --skeleton-shadow: #434ba7;

    // code
    --code-bg: #fff;
}

// https://mobilepalette.colorion.co/
