.app.light {
    --bg-color: #d9d9d9;
    --inverted-bg-color: #1c1c1c;

    --primary-color: #0d0d0d;
    --secondary-color: #1e1e1e;
    --inverted-primary-color: #b3b3b3;
    --inverted-secondary-color: #e2e2e2;
}
